.calculator {
    width: 235px;
    height: 320px;
    overflow: hidden;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 1fr repeat(5, 48px);
}