@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Thin.ttf')
}

* {
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    color: #ffffff;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        to right,
        rgb(83, 105, 118),
        rgb(41, 46, 73)
    );
}